<!DOCTYPE HTML>
<html>
<head>
	<title>Contact</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="icon" href="/favicon.ico">
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/contact.js"></script>
</head>
<body>
<!-- header_top -->
<div class="header_top"></div>
<!-- header_btm -->
<div class="header_btm">
<div class="wrap">
<div class="header">
	<div class="logo">
		<a href="/index"><img src="images/logo.png"/></a>
	</div>
	<div class="menu">
		<ul>
			<li><a href="/index">生活点滴</a></li>
			<li><a href="/blog">技术博客</a></li>
			<li><a href="/portfolio">碎碎念</a></li>
			<li class="active"><a href="/contact">关于</a></li>
		</ul>
	</div>
	<div class="clear"></div>
</div>
</div>
</div>
<!-- start slider-->
<div class="slider_bg">
<div class="wrap">
</div>
</div>
<!-- start main  -->
<div class="wrap">
	<div class="blog_slider">
		<h2>Contact</h2>
		<!-- <p>We are only a click away</p> -->
	</div>
	<div class="main">
	<!-- start main_btm -->
				<div class="contact">
					<div class="company_address">
						<p>相信自己的可能性，给自己规划一个超出现有水平的更高目标，并为在未来某一时刻实现目标而倾尽全力。此时你所需要的是使自己的愿望像不灭的火焰一样持续燃烧。这样成功或成绩就会如期而至，自己的能力也能够得到提高。</p>
				     	<h3>Walker</h3>
						<p>github：<a href="https://github.com/Walker-Leee" target="_blank">https://github.com/Walker-Leee</a></p>
				   		<p>gitbook：<a href="https://www.gitbook.com/@walker-leee" target="_blank">https://www.gitbook.com/@walker-leee</a></p>
				 	 	<p>Email : <a href="mailto:flana_zhong@163.com">flana_zhong@163.com</a></p>
				   </div>
					<div class="contact-form">
					    	<div>
						    	<span><input name="userName" type="text" class="textbox right username" placeholder="姓名"></span>
						    </div>
						    <div>
						    	<span><input name="userName" type="text" class="textbox right email" placeholder="邮箱"></span>
						    </div>
						    <div class="clear"></div>
						    <div>
						    	<span><textarea class="message" rows="2" cols="70" onfocus="if(this.value == '捎句话给我吧。') this.value='';" onblur="if(this.value == '') this.value='捎句话给我吧。';">捎句话给我吧。</textarea></span>
						    </div>
						   <div>
						   		<span><input type="submit" class="" value="Submit" id="submit"></span>
						  </div>
				    </div>
				    <div class="clear"></div>
				</div>
</div>
</div>
<!-- start footer  -->
<div class="footer_bg">
<div class="wrap">
<div class="footer">
	<div class="footer_top">
		<p class="link"><span>&copy;&nbsp;Walker Loves You</span></p>
	</div>
</div>
</div>
</div>
</body>
</html>