<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        body{
            background-image: url("<%= errorImage%>");
            -webkit-background-size:cover;
            background-size:cover;
        }
    </style>
</head>
<body></body>
</html>