<!DOCTYPE HTML>
<html>
<head>
<title>Blog</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<!-- header_top -->
<div class="header_top"></div>
<!-- header_btm -->
<div class="header_btm">
<div class="wrap">
<div class="header">
	<div class="logo">
		<a href="index.html"><img src="images/logo.png" alt=""/> </a>
	</div>
	<div class="menu">
		<ul>
			<li class="active"><a href="index.html">生活点滴</a></li>
			<li><a href="blog.html">技术博客</a></li>
			<li><a href="portfolio.html">碎碎念</a></li>
			<li><a href="contact.html">关于</a></li>
		</ul>
	</div>
	<div class="clear"></div>
</div>
</div>
</div>
<!-- start slider -->
<div class="slider_bg">
<div class="wrap">
</div>
</div>
<!-- start main  -->
<div class="wrap">
	<div class="blog_slider">
		<h2>Blog</h2>
		<p>Keep in the loop</p>
	</div>
	<div class="main">
	<!-- start content_left  -->
	<div class="content_left">
		<div class="blog_main">
			<h2 class="blog">Amazing free portfolio PSD Theme</h2>
			<div class="blog_img">
				<img src="images/blog1_pic.jpg" alt=""/>
			</div>
			<div class="blog_date">
				<div class="blog_date_left">
					<h2>Date</h2>
					<p>April 12, 2013</p>
					<h2>Tags</h2>
					<p><a href="#">Website </a> | <a href="#">Design </a></p>
					<h2>Comments</h2>
					<p>4</p>
				</div>
				<div class="blog_date_right">
					<p class="para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					<p class="para top">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, </p>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="blog_main1">
			<h2 class="blog">Remimer wedding footages</h2>
			<div class="blog_date">
				<div class="blog_date_left">
					<h2>Date</h2>
					<p>April 12, 2013</p>
					<h2>Tags</h2>
					<p><a href="#">Website </a> | <a href="#">Design </a></p>
					<h2>Comments</h2>
					<p>4</p>
				</div>
				<div class="blog_date_right">
					<p class="para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					<p class="para top">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, </p>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="blog_main">
			<h2 class="blog">Sound clip of Concert</h2>
			<div class="blog_img">
				<img src="images/player.jpg" alt=""/>
			</div>
			<div class="blog_date">
				<div class="blog_date_left">
					<h2>Date</h2>
					<p>April 12, 2013</p>
					<h2>Tags</h2>
					<p><a href="#">Website </a> | <a href="#">Design </a></p>
					<h2>Comments</h2>
					<p>4</p>
				</div>
				<div class="blog_date_right">
					<p class="para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					<p class="para top">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, </p>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<!-- start sidebar -->
	<div class="sidebar">
		<div class="sidebar_txt">
			<h2>About Intent</h2>
			<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, </p>
		</div>
		<div class="sidebar_txt">
			<h2>Categories</h2>
			<ul class="blog_nav">
				<li><a href="#">Video (3)</a></li>
				<li><a href="#">Sports (5)</a></li>
				<li><a href="#">Media (2)</a></li>
				<li><a href="#">Entertainment (7)</a></li>
				<li><a href="#">Life (4)</a></li>
				<li><a href="#">Super Cool Stuff (8)</a></li>
			</ul>
		</div>
		<div class="sidebar_txt">
			<h2>Advertisements</h2>
			<ul class="blog_list">
				<li class="right"><a href="#"><img src="images/advertise1.jpg" alt=""/> </a></li>
				<li class="right"><a href="#"><img src="images/advertise2.jpg" alt=""/> </a></li>
				<li><a href="#"><img src="images/advertise3.jpg" alt=""/> </a></li>
				<li class="right"><a href="#"><img src="images/advertise3.jpg" alt=""/> </a></li>
				<li class="right"><a href="#"><img src="images/advertise2.jpg" alt=""/> </a></li>
				<li><a href="#"><img src="images/advertise1.jpg" alt=""/> </a></li>
				<div class="clear"></div>
			</ul>
		</div>
	</div>
	<div class="clear"></div>
</div>
</div>
<!-- start footer  -->
<div class="footer_bg">
<div class="wrap">
<div class="footer">
	<div class="footer_top">
		<p class="link"><span>Copyright &copy; 2014.Company name All rights reserved.</span></p>
	</div>
</div>
</div>
</div>
</body>
</html>