<!DOCTYPE HTML>
<html>
<head>
<title>Contact</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<!-- header_top -->
<div class="header_top"></div>
<!-- header_btm -->
<div class="header_btm">
<div class="wrap">
<div class="header">
	<div class="logo">
		<a href="index.html"><img src="images/logo.png" alt=""/> </a>
	</div>
	<div class="menu">
		<ul>
			<li class="active"><a href="index.html">生活点滴</a></li>
			<li><a href="blog.html">技术博客</a></li>
			<li><a href="portfolio.html">碎碎念</a></li>
			<li><a href="contact.html">关于</a></li>
		</ul>
	</div>
	<div class="clear"></div>
</div>
</div>
</div>
<!-- start slider-->
<div class="slider_bg">
<div class="wrap">
</div>
</div>
<!-- start main  -->
<div class="wrap">
	<div class="blog_slider">
		<h2>Contact</h2>
		<!-- <p>We are only a click away</p> -->
	</div>
	<div class="main">
	<!-- start main_btm -->
				<div class="contact">
					<div class="company_address">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, </p>
				     	<h3>Walker Blog</h3>
						<p>500 Lorem Ipsum Dolor Sit,</p>
						<p>22-56-2-9 Sit Amet, Lorem,</p>
						<p>USA</p>
				   		<p>Phone :(00) 222 666 444</p>
				   		<p>Fax : (000) 000 00 00 0</p>
				 	 	<p>Email : <a href="#">flana_zhong@163.com</a></p>
				   </div>
					<div class="contact-form">
					    <form method="post" action="contact-post.html">
					    	<div>
						    	<span><input name="userName" type="text" class="textbox right" placeholder="first Name"></span>
						    </div>
						    <div>
						    	<span><input name="userName" type="text" class="active textbox" placeholder="last Name"></span>
						    </div>
						     <div class="clear"></div>
						    <div>
						    	<span><input name="userName" type="text" class="textbox right" placeholder="Email Address"></span>
						    </div>
						    <div>
						    	<span><input name="userName" type="text" class="textbox" placeholder="url"></span>
						    </div>
						    <div class="clear"></div>
						    <div>
						    	<span><textarea rows="2" cols="70" onfocus="if(this.value == 'Your Message') this.value='';" onblur="if(this.value == '') this.value='Your Message';">Your Message</textarea></span>
						    </div>
						   <div>
						   		<span><input type="submit" class="" value="Submit"></span>
						  </div>
					    </form>
				    </div>
				    <div class="clear"></div>
				</div>
</div>
</div>
<!-- start footer  -->
<div class="footer_bg">
<div class="wrap">
<div class="footer">
	<div class="footer_top">
		<p class="link"><span>Copyright &copy; 2015. Walker All rights reserved.</span></p>
	</div>
</div>
</div>
</div>
</body>
</html>